langchain==0.3.7
langchain-anthropic==0.3.0
langchain-core==0.3.18
langchain-openai==0.2.8
langchainhub==0.1.21
langgraph==0.2.48
langsmith==0.1.143
python-dotenv==1.0.1
requests==2.26.0
# for movie generation
pillow==11.0.0
moviepy==1.0.3
opencv-python==4.10.0.84
scipy==1.14.1